.graphViewer {
    -fx-background-color: white;
}

.processor {
    -fx-padding: 2, 2, 2, 2;
    -fx-background-color:
            linear-gradient(#f2f2f2, #d6d6d6),
            linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
            linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}


.processor .label {
    -fx-text-fill: #000000;
}

.subgraph {
    -fx-padding: 2, 2, 2, 2;
    -fx-background-color:
            linear-gradient(#f2f2f2, #d6d6d6),
            linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
            linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.subgraph .label {
    -fx-text-fill: #000000;
}


.startPoint {
    -fx-padding: 2, 2, 2, 2;
    -fx-background-color:
            linear-gradient(#f2f2f2, #d6d6d6),
            linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
            linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.endPoint {
    -fx-padding: 2, 2, 2, 2;
    -fx-background-color:
            linear-gradient(#f2f2f2, #d6d6d6),
            linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
            linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.transitionLine {
    -fx-border-color: #bfbfbf;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

.pointerLine, .pointer {
    -fx-fill: #909090;
    -fx-stroke: #909090;
}



.mergeGroup {
    -fx-border-color: #bfbfbf;

    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

.mergePoint {
    -fx-padding: 2, 2, 2, 2;

    -fx-background-color:
            linear-gradient(#f2f2f2, #d6d6d6),
            linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
            linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );

    -fx-border-radius: 30 30 30 30;
    -fx-background-radius: 30 30 30 30;
}

.detachedMergePoint {
    -fx-padding: 2, 2, 2, 2;

    -fx-background-color:
            linear-gradient(#f2f2f2, #d6d6d6),
            linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
            linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );

    -fx-border-radius: 30 30 30 30;
    -fx-background-radius: 30 30 30 30;
}